.table th {
	text-transform: capitalize;
}

.magazinesTable table td:last-child {
	text-align: right;
	white-space: nowrap;
	width: 1px;
}

.magazinesTable table td:nth-child(2) {
	max-width: 200px;
}

.magazinesTable table td:nth-child(4) {
	width: 90px;
}

.divwrapper .btn {
	margin-right: 5px;
	width: 100px;
}

.subscribed {
	color: green;
	font-weight: bold;
	font-size: 14px;
}